.cook-blog {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #c4ff61;
    color: #000;
    padding: 24px;
    margin-bottom: 40px;
}
.cook-blog__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cook-blog__title {
    font-size: 2.25rem;
    font-weight: 500;
}
.cook-blog__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.cook-blog__item {
    list-style-type: none;
    background-color: #fff;
    border: 1px solid #00000014;
    border-radius: 8px;
    width: calc(33% - 16px);
    max-width: 426.67px;
    height: 184px;
    padding: 24px;
}
.cook-blog__item-top {
    display: flex;
    gap: 12px;
    height: 48px;
}
.cook-blog__item-column {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
}
.cook-blog__item-title {
    font-size: 1.125rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 174px;
}
.cook-blog__item-subtitle {
    font-size: 0.875rem;
    color: #000000a3;
}
.cook-blog__item-text {
    font-size: 0.875rem;
    text-align: left;
    padding: 12px 0 20px;
}
@media (max-width: 1440px) {
    .cook-blog__button {
        width: 149px;
    }
    .cook-blog__item {
        padding: 16px;
    }
}
